<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css"/>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/"><img id="imgLogo" src="images/icon.png" ></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Listar Empresa <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/new">Cadastrar Empresa</a>
                  </li>
                  <li class="nav-item">
                      <a href="/funcionario" class="nav-link">Listar Funcionários</a>
                  </li>
                  <li class="nav-item">
                        <a href="/newFuncionario" class="nav-link">Cadastrar Funcionários</a>
                  </li>
            </ul>
          </div>
        </nav>
    <h1><%= title %></h1>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Número</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
            <% docs.forEach((empresa) => { %>
          <tr>
            <td><%= empresa.nome %>	</td>
            <td><%= empresa.endereco %>	</td>
            <td><%= empresa.numero %>	</td>
            <td><%= empresa.bairro %>	</td>
            <td><%= empresa.cidade %>	</td>
            <td><a href="/edit/<%= empresa._id %>" class="btn btn-success">Editar</a></td>
            <td><button class="btn btn-danger" onclick="excluir('empresa', '<%= empresa._id %>')">Excluir</button></td>
            <!--<td><a href="/delete/<%= empresa._id %>" class="btn btn-danger">Excluir</a></td>-->
          </tr>
          <% }) %>
        </tbody>
      </table>
      <script language="javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
      <script language="javascript" src="javascripts/script.js"></script>
  </body>
</html>
